/* IMPORT */
@import url("../../style/font.css");

/* STYLE */
.hero-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0rem;

  font-size: clamp(12px, 2.2vw, 16px);

  font-family: "Oxanium", sans-serif;
}

.hero-section img {
  width: 7em;
  height: 7em;

  transform: translateX(-1.25em) translateY(3em);
}

.hero-section .hero {
  display: flex;
  flex-direction: column;
  padding-top: 9.1em;
  text-shadow: 0px 10px 6px rgba(0, 0, 0, 0.7);
}

.hero-section .hero h1 {
  margin: 0;
  font-size: 4.5em;
}
.hero-section .hero p {
  padding-top: 0.5em;
  padding-left: 0.3em;
  margin: 0;
  font-size: 1.3em;
}

@media (max-width: 600px) {
  .hero-section img {
    position: fixed;
    transform: translateX(-1.25em) translateY(-2.5em);
  }
}
