/* IMPORT */
@import url("../../style/font.css");

/* STYLE */
.hero-section {
  display: flex;
  flex-direction: column;

  font-family: "Oxanium", sans-serif;
}

.hero-section .hero {
  padding-top: 5em;
  text-shadow: 0px 10px 6px rgba(0, 0, 0, 0.7);
}

.hero-section .hero h1 {
  margin: 0;
  font-size: 4.5em;
}
.hero-section .hero p {
  padding-top: 0.5em;
  padding-left: 0.3em;
  margin: 0;
  font-size: 1.3em;
}

@media (max-width: 600px) {
  .hero-section .hero h1 {
    font-size: 3.8em;
  }

  .hero-section .hero p {
    font-size: 1.15em;
  }
}
