.app-section {
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  align-items: center;

  /* Background Image */
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.45)
    ),
    url("./assets/images/Hero/bg2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
